[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
pyyaml = "*"
awscli = "*"
jupyter = "*"
pyarrow = "*"
boto3 = "*"
moto = "*"
coverage = "*"
pylance = "*"

[dev-packages]

[requires]
python_version = "3.11"
